@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}
